.body {
  font-size: 1rem;
  line-height: 1.2rem;
}
.body-bold {
  @extend .body;
  font-weight: bold;
}
.title {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.title-bold {
  @extend .title;
  font-weight: bold;
}
