<template>
  <el-dialog :title="$t('products.edit-product')" :visible.sync="openModal" width="90%"
    :before-close="() => handleClose(true)">
    <div v-if="currentProduct" class="form-container">
      <el-input :placeholder="$t('products.title-placeholder')" v-model="currentProduct.title" />
      <el-input :placeholder="$t('products.description-placeholder')" v-model="currentProduct.description" />
      <el-select :file-list="currentProduct.images" :placeholder="$t('products.category-placeholder')"
        @change="setCurrentProduct" v-model="selectedCategory">
        <el-option v-for="category in categories" :key="category.id" :value="JSON.stringify(category)"
          :label="category.name" />
      </el-select>
      <el-input :placeholder="$t('products.price-placeholder')" v-model="currentProduct.price" />
    </div>
    <el-upload :file-list="imagesList" class="mt" action="" :on-success="onUploadImage" list-type="picture-card">
      <i class="el-icon-plus"></i>
      <div class="images-container" slot="file" slot-scope="{ file }">
        <img :src="file.url" alt="img">
        <i role="image eraser" @click="() => removeImage(file.url)" class="el-icon-close" />
      </div>
    </el-upload>
    <div class="buttons-container mt-2">
      <el-button type="danger" role="delete button" @click="handleDelete">{{ $t('common.delete') }}</el-button>
      <el-button type="primary" role="save button" @click="send">{{ $t('common.save') }}</el-button>
    </div>
  </el-dialog>
</template>

<script lang="ts">
import { useCategoriesStore, useProductsStore } from 'store'
import { mapWritableState, mapActions } from 'pinia'
import Vue from 'vue'
import { Data, ImageFile } from './types/editProduct'
import { Product } from 'store/types/products';

const id = -1;

export default Vue.extend({
  data: (): Data => {
    return {
      selectedCategory: null,
      imagesList: [],
    }
  },
  computed: {
    ...mapWritableState(useProductsStore, ['currentProduct']),
    ...mapWritableState(useCategoriesStore, ['categories']),
    openModal() {
      return !!this.currentProduct
    },
  },
  methods: {
    ...mapActions(useProductsStore, ['updateProduct', 'deleteProduct']),
    handleClose(reset: boolean) {
      this.selectedCategory = null
      this.currentProduct = null
      reset && (this.currentProduct = this.body)
    },
    setCurrentProduct(categoryJson: string) {
      const category = JSON.parse(categoryJson)
      if (this.currentProduct) {
        this.currentProduct.category = category
      }
    },
    onUploadImage(_: unknown, file: ImageFile) {
      this.currentProduct?.images.push(file.url)
      this.imagesList.push(file)
    },
    removeImage(url: string) {
      if (this.currentProduct) {
        this.imagesList = this.imagesList.filter(img => img.url !== url)
        this.currentProduct.images = this.currentProduct.images.filter(img => img !== url)
      }
    },
    send() {
      this.updateProduct(this.currentProduct)
      this.$alert(this.$i18n.t('products.edition-successful-message') + '', '', {
        confirmButtonText: this.$i18n.t('common.ok') + '',
        callback: action => {
          this.currentProduct = null
        }
      });
    },
    handleDelete() {
      if (this.currentProduct) {
        this.$confirm(this.$i18n.t('product.sure-to-delete') + '', '', {
          confirmButtonText: this.$i18n.t('common.confirm') + '',
          cancelButtonText: this.$i18n.t('common.cancel') + '',
          callback: action => {
            if (action === 'confirm') {
              if (this.currentProduct) {
                this.deleteProduct(this.currentProduct.id)
                this.currentProduct = null
              }
            }
          }
        });
      }
    }
  },
  watch: {
    currentProduct(newValue: Product) {
      if (this.currentProduct) {
        if (!this.selectedCategory) {
          this.selectedCategory = this.currentProduct.category.name
        }
        if (newValue.id !== id) {
          this.imagesList = this.currentProduct.images.map((img, index) => ({
            name: '',
            index: (this.currentProduct?.images.length || 0) - index,
            url: img
          }))
        }
        return
      }
      this.imagesList = []
    }
  }
})
</script>

<style lang="scss" scoped>
.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.images-container {
  position: relative;

  >i[role='image eraser'] {
    position: absolute;
    display: block !important;
    font-size: 1.5rem;
    top: 5px;
    right: 10px;
  }
}

.buttons-container {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: $media-phone) {
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
</style >

<style lang="scss">
$images-height: 13rem;

.el-upload-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, min-content));
  justify-content: center;
}

.el-upload--picture-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  max-width: fit-content;
  max-height: 5rem;
}

.el-select {
  min-width: 100%;
}

.el-upload-list__item {
  width: 100% !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease-in-out;

  border: none !important;

  >* {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100% !important;
    min-height: 100% !important;
  }

  img {
    max-height: $images-height !important;
  }
}


@media (min-width: $media-phone) {
  .el-dialog {
    width: 60rem !important;
    max-width: 90% !important;
  }
}
</style>
