<template>
  <div>
    <div class="products-container">
      <div class="table desktop-only">
        <span class="title-bold">Imagen</span>
        <div class="info-container">
          <span class="title-bold"> {{ $t('products.title') }} </span>
          <span class="title-bold"> {{ $t('products.description') }} </span>
          <span class="title-bold"> {{ $t('products.category') }} </span>
          <span class="title-bold"> {{ $t('products.price') }} </span>
        </div>
      </div>
      <div class="table" v-for="product of products" :key="product.id">
        <img :src="product.images[0]" :alt="$t('products.image-alt').toString()">
        <div class="info-container">
          <span class="phone-only body-bold"> {{ $t('products.title') }} </span>
          <span class="body"> {{ product.title }} </span>
          <span class="phone-only body-bold"> {{ $t('products.description') }} </span>
          <span class="body"> {{ product.description }} </span>
          <span class="phone-only body-bold"> {{ $t('products.category') }} </span>
          <span class="Body"> {{ product.category.name }} </span>
          <span class="phone-only body-bold"> {{ $t('products.price') }} </span>
          <span class="body"> {{ product.price }} </span>
        </div>
        <el-button @click="() => setProduct(product)" type="primary"><i class="el-icon-edit" /></el-button>
      </div>
    </div>
    <edit-product />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { useCategoriesStore, useProductsStore } from 'store'
import { Product } from 'store/types/products';
import { mapWritableState } from 'pinia'
import { EditProduct } from './__components__'
import { cloneObject } from 'utils';

export default Vue.extend({
  name: "IndexPage",
  setup() {
    const { getProducts } = useProductsStore();
    const { getCategories } = useCategoriesStore()
    return {
      getProducts, getCategories
    };
  },
  computed: {
    ...mapWritableState(useProductsStore, ["currentProduct", "products"])
  },
  methods: {
    setProduct(product: Product) {
      this.currentProduct = cloneObject(product);
    }
  },
  created() {
    this.getCategories()
    this.getProducts();
  },
  components: { EditProduct }
})
</script>

<style lang="scss" scoped>
.products-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .table {
    display: grid;
    grid-template-columns: minmax(100px, 10%) auto 3rem;

    .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
      padding: 8px;
      overflow: hidden;

      span {
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }


    img {
      width: 100%;
      min-height: 100%;
    }
  }

  @media (min-width: $media-phone) {
    .table {

      &,
      >* {
        max-height: 5rem;
      }

      span {
        text-align: center;
        padding: 8px;
      }

      .info-container {
        display: grid !important;
        max-height: 100%;
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
      }
    }

  }
}
</style>
